{## Button Code - with the following matrix options (with sub fields): text (heading and text), buttonEntry (alternateTitle and entry), buttonUrl (buttonText and buttonUrl), or socialMedia (entries) ##}
{% set currentEntry = entry %}

{% if currentEntry.linkBuilder|length %}

	<div class="px-2 justify-self-center">
		{% set buttonLink = '' %}
		{% set buttonLabel = ''|default('Learn More') %}
		{% for block in currentEntry.linkBuilder %}
			{# Accessing the fields within the matrix block #}
			{% set heading = block.heading %}
			{% set description = block.description %}
			{% include "_includes/_linkBuilderBlocks/" ~ block.type %}
		{% endfor %}
	</div>
{% endif %}
