.DS_Store
.idea


# ignore local build folder and files
*.code-workspace
/node_modules/*
package-lock.json
*.key

# ignore craft files
/craft/.env
!/craft/.env.example
/craft/.idea
/craft/vendor

# ignore license.key
/craft/config/license.key*

# ignore storage dirs
/craft/storage/*
!/craft/storage/rebrand
!/craft/storage/.gitkeep

# ignore craft cpresources dir
/public_html/cpresources/

# ignore dist files
/public_html/assets/css/maps/
/public_html/assets/css/*.min.css

/public_html/assets/uploads/
!/public_html/assets/uploads/adoc_images/*


# dont't ignore htaccess
!/public_html/.htaccess

!/public_html/assets/uploads/.gitkeep


# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

