# Keep DDEV Config
!/.ddev/config.yaml
/.ddev

# ignore image transforms and CP Resources
/public_html/cpresources
/public_html/assets/uploads/**/


node_modules
.DS_Store
.idea

# dont't ignore htaccess
!/public_html/.htaccess

# ignore local build folder and files
*.code-workspace
/node_modules/*
package-lock.json
*.key


# ignore craft files
/craft/.env
!/craft/.env.example*
/craft/.idea
/craft/vendor

# ignore license.key
/craft/config/license.key*

# ignore storage dirs
/craft/storage/*
!/craft/storage/rebrand
!/craft/storage/.gitignore

# ignore dist files
/public_html/assets/css/maps/
/public_html/assets/css/*.min.css

!/public_html/assets/uploads/.gitkeep

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/src

