/.env
/.idea
/vendor
.DS_Store
/node_modules
/src
license.key
/.ddev
/dist
/node_modules
/src
/vendor
/storage
/web/cpresources
/web/assets/uploads/transforms
/public_html/cpresources
/public_html/assets/uploads/transforms
