<div id="textBlock" class="linkBlock blockStyle-{{block.blockStyle}}">
	<div class="text-lg font-bold">
		<h2>{{ heading }}<h2>
    </div>
    <div class="ckContent">
{{ description }}
    </div>
</div>
