{% extends "index.twig" %}
{% set docTitle = { entry.Title } %}

{% block head %}
	Homepage HEAD content for Homepage
	<br>
	{{parent()}}

{% endblock %}

{% block body %}
	<div><span class="text-red-500"> Homepage BODY content.</span></div>
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}

