<!DOCTYPE html>
<html lang="en-US">
{% block head %}
<head>
    Index HEAD content.
</head>
{% endblock %}
{% block body %}
<body>
    <div id="main" class="mb-2 mt-2">
<p>Index Body Content</p>
    </div>
    </body>
{% endblock %}
</html>
