<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="../../output.css" rel="stylesheet">
		{% block head %}
		{% endblock %}
	</head>
	<body>

		<main class="flex flex-col min-h-screen">	
		{% block body %}
			{% block header %}
				{% include "_includes/_navigation.twig" %}
			{% endblock %}
			{% block sidecar %}
			{% endblock %}
			{% block article %}
			{% endblock %}
			{% block footer %}
			<footer class="bg-white rounded-lg content-center shadow sm:flex sm:items-center sm:justify-center p-4 sm:p-6 xl:p-8 dark:bg-gray-800">
				<p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
					&copy;2022 -
					<script>
						document.write(new Date().getFullYear());
					</script>
					|
					{% block footerSiteName %}
					{% endblock %}
					<a href="{{siteUrl}}" class="hover:underline uppercase" target="_blank">{{siteName}}</a>
					
					| All rights reserved.
				</p>
			</footer>
			{% endblock %}			
		{% endblock %}
		</main>
		<!-- script src="/node_modules/flowbite/dist/flowbite.min.js"></script -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

	</body>
</html>
