<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		{% if not devMode and not craft.app.request.isPreview %}
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-TZW7CTF');</script>
			<!-- End Google Tag Manager -->
		{% endif %}
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="../../output.css" rel="stylesheet">
		
		{% block head %}
		{% endblock %}
	</head>
	<body>
		
		{% if not devMode and not craft.app.request.isPreview %}
			<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZW7CTF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
			</noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}

		<main class="flex flex-col min-h-screen">	
		{% block body %}
			{% block header %}
				{% include "_includes/_navigation.twig" %}
			{% endblock %}
			{% block sidecar %}
			{% endblock %}
			{% block article %}
			{% endblock %}
			{% block footer %}
			<footer class="bg-white rounded-lg content-center shadow sm:flex sm:items-center sm:justify-center p-4 sm:p-6 xl:p-8 dark:bg-gray-800">
				<p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
					&copy;2022 -
					<script>
						document.write(new Date().getFullYear());
					</script>
					|
					{% block footerSiteName %}
					{% endblock %}
					<a href="{{siteUrl}}" class="hover:underline uppercase" target="_blank">{{siteName}}</a>
					
					| All rights reserved.
				</p>
			</footer>
			{% endblock %}			
		{% endblock %}
		</main>
		<!-- script src="/node_modules/flowbite/dist/flowbite.min.js"></script -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

	</body>
</html>
