{% extends "index.twig" %}

{% block head %}
    <title>{{ entry.title }}</title>
    <meta content="{{entry.title}} HEAD content">
	<div>{{parent()}}</div>
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

